/* .body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
} */

/* .main{

  margin-left: 200 px;
  background-color: rgb(54, 31, 31);
} */

/* 
.sideBar {
  height: 100%;
  top: 0;
  left: 0;
  background-color: #009879;
  position: fixed;

  /* width: 200px; */
  /* z-index: -1; */
 
  /* overflow-x: hidden;
  padding-top: 16px; */

/*} */
